static/* linguist-vendored
# *.html linguist-vendored=false
*.php linguist-language=css
# *.css linguist-language = php
* text=auto
# *.css linguist-vendored
# *.scss linguist-vendored
# *.js linguist-vendored
CHANGELOG.md export-ignore
